* {
  box-sizing:         border-box;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
}

html {
  font-size: 100%;
}

section {
  background-color: white;
}

body {
  margin:           0;
  background-color: black;
}

body.no-scroll {
  overflow-y: hidden;
}

a {
  text-decoration: none;
}

header, main {
  margin: 0 8px;
}

header {
  display:          flex;
  align-items:      center;
  height:           48px;

  position:         sticky;
  top:              0;
  z-index:          555;
  background-color: black;
}

main {
  position: relative;
  display:  flow-root;
}

/* Should be scoped into header */
.logo {
  text-decoration: none;
}

.logo-left-part {
  color: rgb(85, 26, 139);
}

.logo-right-part {
  color: #2a603b;
}

.header-items {
  display:     none;
  white-space: nowrap;
  margin-left: 1.75rem;
  font-size:   12px;
}

.header-items > span {
  display: inline-block;
  margin:  0 0.625rem;
}

.header-items > span, a {
  color: white;
}

.search-bar-wrapper {
  width: 100%;
}

.search-bar {
  display:          none;
  width:            70%;
  max-width:        254px;
  margin-left:      auto;
  margin-right:     auto;

  background-color: #202020;
  border-radius:    12px;
}

.search-bar > input {
  margin:           5px;
  width:            100%;
  color:            white;
  font-size:        10px;
  outline:          none;
  border:           none;
  background-color: #202020;
}

.search-bar:focus-within {
  border: 1px solid #2a603b;
}

.search-bar .material-icons {
  font-size:    15px;
  color:        rgb(117, 117, 117);
  align-self:   center;
  margin-right: 0.375em;
}

header .open-menu-cta {
  color:     white;
  font-size: 1.25rem;
}

.menu-item {
  margin: 5px 0;
  color:  white;
}

.menu {
  display:          none;
  width:            50%;
  height:           100vh;
  position:         fixed;
  top:              0;
  right:            0;
  z-index:          999;

  background-color: #202020;

  text-align:       center;
}

.menu.menu-opened {
  display: block;
}

.menu hr {
  border: 1px solid grey;
}

.close-menu-cta {
  display:         flex;
  justify-content: flex-end;
  align-items:     center;
  height:          48px;
  margin-right:    8px;
  color:           white;
}

@media only screen and (min-width: 294px) {
  .logo {
    font-size: 1.25rem;
  }

  header .open-menu-cta {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 380px) {
  .search-bar {
    display: flex;
  }
}

@media only screen and (min-width: 628px) {
  .header-items {
    display: block;
  }

  .search-bar {
    max-width: 434px;
  }

  header .open-menu-cta {
    display: none;
  }

  .menu.menu-opened {
    display: none;
  }
}

@media only screen and (min-width: 720px) {
  header, main {
    margin: 0 24px;
  }

  .header-items {
    font-size: 16px;
  }

  .search-bar input {
    font-size: 1em;
  }

  .search-bar .material-icons {
    font-size: 1.25em;
  }
}

@media only screen and (min-width: 720px) {
  .logo {
    font-size: 32px;
  }

  .header-items {
    font-size: 21px;
  }
}

.hero-banner {
  height:              294px;
  background-image:    radial-gradient(transparent 30%, black 70%),
                       url("images/kimetsu.jpeg");
  background-position: 50%;
  background-size:     cover;
}

/* Investigate how to use a css compiler to be able to nest stuffs */
.hero-banner h1 {
  color: white;
}

section {
  height: 174px;
}

.anime-list {
  border: 1px solid black;
}
