---
---
* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html {
  font-size: 100%;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  background-color: black;
  overflow-x: hidden;
}

//header, main {
//  margin: 0 8px;
//}

header {
  display: flex;
  align-items: center;
  height: 48px;

  position: sticky;
  top: 0;
  z-index: 555;
  background-color: black;

  .logo {
    text-decoration: none;

    .logo-left-part {
      color: rgb(85, 26, 139);
      font-family: Times, serif;
    }

    .logo-right-part {
      color: #2a603b;
      font-family: Times, serif;
    }
  }

  .header-items {
    display: none;
    white-space: nowrap;
    margin-left: 1.75rem;
    font-size: 12px;
  }

  .header-items > span {
    display: inline-block;
    margin: 0 0.625rem;
  }

  .header-items > span, a {
    color: white;
  }

  .search-bar-wrapper {
    width: 100%;

    .search-bar {
      display: none;
      width: 70%;
      max-width: 254px;
      margin-left: auto;
      margin-right: auto;

      background-color: #202020;
      border-radius: 12px;

      > input {
        margin: 5px;
        width: 100%;
        color: white;
        font-size: 10px;
        outline: none;
        border: none;
        background-color: #202020;
      }

      &:focus-within {
        border: 1px solid #2a603b;
      }

      .material-icons {
        font-size: 15px;
        color: rgb(117, 117, 117);
        align-self: center;
        margin-right: 0.375em;
      }
    }
  }

  .open-menu-cta {
    color: white;
    font-size: 1.25rem;
  }

  .menu-item {
    margin: 5px 0;
    color: white;
  }
}

.hero-banner {
  display: flow-root;
  position: relative;
  height: 536px;
  background-image: linear-gradient(to right, black, transparent 33%),
  linear-gradient(to bottom right, transparent, transparent, black 95%);
  background-size: cover;

  h1 {
    color: white;
  }

  img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
}

main {
  position: relative;
}

.menu {
  display: none;
  width: 50%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;

  background-color: #202020;

  text-align: center;

  &.menu-opened {
    display: block;
  }

  hr {
    border: 1px solid grey;
  }

  .close-menu-cta {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 48px;
    margin-right: 8px;
    color: white;
  }
}

.anime-list {
  padding-bottom: 70px;
  border-bottom: 1px solid grey;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;

    h2 {
      margin: 0;
    }

    .navigation-icon {
      border: 1px solid white;
      border-radius: 50%;
      margin: 0 2px;
      cursor: pointer;
      transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;

      &:hover {
        color: black;
        background-color: white;
      }
    }
  }

  .anime-list-content {
    display: flex;
    align-items: center;
    position: relative;
    height: 380px;
    overflow-x: visible;
    transform: translateX(-100%);

    .card {
      position: relative;
      width: calc(100% / 6);
      height: 343px;
      flex-shrink: 0;
      cursor: pointer;
      transition: all .5s ease-out, transform .3s ease-out;

      &.width-0 {
        width: 0;
      }

      &:hover {
        z-index: 2;
        transform: scale(1.1);
      }

      &:nth-child(7) {
        transform-origin: left;
      }

      &:nth-child(12) {
        transform-origin: right;
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 98%;
        height: 100%;
        border-radius: 2%;

        &:hover + .card-description {
          display: grid;
        }
      }

      .card-description {
        display: none;
        grid-template-rows: repeat(3, 1fr);
        justify-items: center;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 98%;
        height: 100%;

        color: white;

        background-color: rgba(25, 25, 25, 0.8);
        border-radius: 2%;

        &:hover {
          display: grid;
        }

        .card-description-title {
          text-align: center;
        }

        .play-cta-wrapper {
          align-self: center;
          width: 55px;
          height: 55px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: rgba(211, 211, 211, 0.25);
          border-radius: 50%;

          .play-cta {
            font-size: 44px;
          }
        }

        .card-description-text {
          color: grey;
          padding-bottom: 10px;
          text-align: center;
          align-self: end;
        }
      }
    }
  }

  &.today-releases {
    margin-top: -50px;
  }
}


@media only screen and (min-width: 294px) {
  header {
    .logo {
      font-size: 1.25rem;
    }

    .open-menu-cta {
      font-size: 1.5rem;
    }
  }
}

@media only screen and (min-width: 380px) {
  header .search-bar-wrapper .search-bar {
    display: flex;
  }
}

@media only screen and (min-width: 628px) {
  header {
    .header-items {
      display: block;
    }

    .search-bar {
      max-width: 434px;
    }

    .open-menu-cta {
      display: none;
    }
  }

  .menu.menu-opened {
    display: none;
  }
}

@media only screen and (min-width: 720px) {
  //header, main {
  //  margin: 0 24px;
  //}

  header {
    .logo {
      font-size: 32px;
    }

    .header-items {
      font-size: 16px;
    }

    .search-bar {
      input {
        font-size: 1em;
      }

      .material-icons {
        font-size: 1.25em;
      }
    }
  }
}
